.commentSection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  margin: auto;
  padding: auto 10px;
  height: 45px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--light-cyan);
  border: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:disabled {
  background-color: grey;
}

.button:hover {
  filter: brightness(125%);
}
