.optionContainer {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.button {
  margin: auto;
  padding: auto 10px;
  height: 45px;
  width: 80px;
  color: white;
  background-color: var(--light-cyan);
  border: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(120, 169, 257);
}

.redButton {
  background-color: var(--color-accent);
}

.redButton:hover {
  background-color: #ed7067;
}

.center {
  margin: auto;
  width: fit-content;
  display: block;
  cursor: pointer;
}
