:root {
  --color-accent: #e4291b;
  --color-accent2: rgb(100, 149, 237);
  --pink: #e300da;
  --light-cyan: rgb(100, 149, 237);
}

body {
  margin: 0;
  background-color: #f4f4f4;
}

.page-container {
  margin-left: 200px;
}

@media screen and (max-width: 900px) {
  .page-container {
    margin: 0;
  }
}
