.mainContent {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title {
    width: 99%;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    outline: none;
}

.description {
    font-size: large;
    outline: none;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: antiquewhite;
}

.site {
    border: solid 3px red;
    height: 500px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: 7fr 3fr;
}

.tags {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.status {
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}