.page {
    width: 80%;
    margin: 0 auto 0 auto;
}

.post img {
    width: 80%;
    display: block;
    margin: 0 auto 0 auto;
}

.page hr {
    color: var(--color-accent2);
}

.frontMatter h1 {
    color: var(--color-accent);
}